---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero from '../../components/Hero.astro';
import FeaturedBooks from '../../components/FeaturedBooks.astro';
import DigitalProducts from '../../components/DigitalProducts.astro';
import Testimonials from '../../components/Testimonials.astro';
import Newsletter from '../../components/Newsletter.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Digital Author - Works & Digital Products" description="Digital author platform with book collections, ebooks, and innovative tools to help your writing journey.">
  <Header />
  <main>
    <Hero />
    <FeaturedBooks />
    <DigitalProducts />
    <Testimonials />
    <Newsletter />
  </main>
  <Footer />
</Layout>